{% extends "app/base.html" %}

{% block content %}
    <h1>About Page</h1>
    <p>
        Pinggang Pinoy is a web platform designed to share Filipino recipes, cooking tips, and techniques. 
        Its goal is to help beginners, preserve traditional dishes, and support individuals who dream of 
        starting small food businesses like karinderya. This project promotes Filipino food culture through 
        accessible and easy-to-use technology.
    </p>

    <hr>

    <h2>Contact</h2>
    <p>For any questions, clarifications, or to move forward with this project, please contact:</p>

    <p><strong>Albaniel, Alexander C.</strong></p>
    <p>Community Cooking Hub: A Platform for Sharing Recipes and Tips</p>
    <p>KusinaFortune Hub</p>

    <p>Email: <a href="mailto:alexanderalbaniel77@gmail.com">alexanderalbaniel77@gmail.com</a></p>
    <p>Phone: 09100680575</p>
{% endblock %}
