{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KusinaFortune Hub</title>

    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    {% include 'app/navbar.html' %}

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
